<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    {%endblock%}
</head>
<body>
    <header>
        <a href="">home</a>
        <a href="">Cadastros</a>
        <a href="">Consultas</a>
        <a href="">configurações</a>
        <a href="">sobre</a>
        <a href="">sair</a>
    </header>
    {% block main%}
    {%endblock%}
    <footer>
        <h5>Footer</h5>
    </footer>
</body>
</html>