{% extends 'base.html' %}
{% block title %}
<title>Cadastrar Funcionário</title>
{% endblock %}

{% block main %}
<main>
    <h1>Cadastrar Funcionário</h1>

    <form action="/cadastrar_funcionario" method="post" class="form-container">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="id">Nome:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="id">Endereço:</label>
            <input type="text" id="id" name="id" required>
        </div> 
        <div class="form-group">
            <label for="id">Telefone:</label>
            <input type="text" id="id" name="id" required>
        </div> 
        <div class="form-group">
            <label for="id">CPF:</label>
            <input type="text" id="id" name="id" required>
        </div> 
        <div class="form-group">
            <label for="id">RG:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group full-width">
            <button type="submit" class="submit-button">Cadastrar</button>
        </div>
    </form>
</main>

{% endblock %}