{% extends 'base.html' %}
{% block title %}
<title>Cadastrar Clientes</title>
{% endblock %}

{% block main %}
<main>
    <h1>Cadastrar Clientes</h1>

    <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
    </div>
    <div class="form-group">
        <label for="id">Nome:</label>
        <input type="text" id="id" name="id" required>
    </div>
    <div class="form-group">
        <label for="id">Endereço:</label>
        <input type="text" id="id" name="id" required>
    </div> 
    <div class="form-group">
        <label for="id">Telefone:</label>
        <input type="text" id="id" name="id" required>
    </div> 
    <div class="form-group">
        <label for="id">CNPJ:</label>
        <input type="text" id="id" name="id" required>
    </div> 
    <div class="form-group">
        <label for="id">INSCRIÇÃO ESTADUAL:</label>
        <input type="text" id="id" name="id" required>
    </div>
    <div class="form-group full-width">
        <button type="submit" class="submit-button">Cadastrar</button>
    </div>
</main>

{% endblock %}