{% extends 'base.html' %}
{% block title %}
<title>Cadastros</title>
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cadastros.css')}}">
{% endblock %}

{% block main %}
<main>
    <a href="/cadastros/produtos"><button class='option'>Produtos</button></a>
    <a href="/cadastros/categoria"><button class='option'>Categoria</button></a>
    <a href="/cadastros/clientes"><button class='option'>Clientes</button></a>
    <a href="/cadastros/fornecedores"><button class='option'>Fornecedor</button></a>
    <a href="/cadastros/funcionarios"><button class='option'>Funcionarios</button></a>
</main>

{% endblock %}

