{% extends 'base.html' %}
{% block title %}
<title>Cadastros</title>
<link rel="stylesheet" href="{{url_for('static', filename= 'css/cadastros.css')}}">
{% endblock %}

{% block main %}
<main>
    <a href="/cadastros/produtos"><button class='option'>produtos</button></a>
    <button class='option'>categoria#</button>
    <button class='option'>clientes</button>
    <a href="/cadastros/fornecedores"><button class='option'>fornecedor</button></a>
    <button class='option'>funcionarios#</button>
</main>

{% endblock %}

